# 2017-11-24 15:38:51+01:00
PATH="/usr/bin:/bin:/home/solvi/bin"
#MIN HOUR      DAY MON DOW COMMAND
  0  6,7,17,19  *   *   *  exec wallswitch
  0  19         *   *   *  DISPLAY=:0 exec termite -e evshu

